@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 225, 225;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(0, 0, 0), /* Black at the top */
      rgb(71, 10, 121) 50%, /* Maroon in the middle */
      rgb(0, 0, 0) /* Black at the bottom */
    );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

